.container-login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080710;
    font-family: 'Lato', sans-serif;
}

.form-login {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border: 1px solid black;
    padding: 80px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.form-login h1 {
    position: relative;
    top: -50px;
    color: white;
    text-align: center;
}

.form-login label {
    color: white;
    margin-top: 15px;

}

.form-login .form-field {
    margin-top: 10px;
    border-radius: 15px;
    padding: 8px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.07);
    color: white;
}

.form-login .form-btn {
    margin-top: 40px;
    border-radius: 15px;
    padding: 8px;
    border-style: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 10px;
    text-align: center;
}